<div
    class="container">
    <h1>{{user.name}}'s Balance: {{user.balance}}</h1>
</div>
<div class="container">
    <div class="card" >
        <div class="card-body"></div>
            <p>
            <h3>Transaction History</h3>
            </p>
            <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">From</th>
                                    <th scope="col">To</th>
                                    <th scope="col">Amount</th>
                                </tr>
                            </thead>
                            {{#each history}}
                            <tbody>
                                <tr>
                                    <td>{{this.createdAt}}</td>
                                    <td>{{this.from}}</td>
                                    <td>{{this.to}}</td>
                                    <td>{{this.amount}}</td>
                                </tr>
                            </tbody>
                            {{/each}}

            </table>
        </div>
    </div>
</div>
